<form [formGroup]="form">
    <div class="text-center">
        <mat-form-field class="w100">
            <mat-label>Location</mat-label>
            <input matInput #nameControl formControlName="name" />
            @if (!form.disabled) {
            <button mat-icon-button type="button" matSuffix (click)="fetchLocationByName()">
                <mat-icon>search</mat-icon>
            </button>
            }
            @if (!form.disabled) {
            <button mat-icon-button type="button" matSuffix (click)="fetchCurrentLocation()">
                <mat-icon>my_location</mat-icon>
            </button>
            }
            @if (!form.disabled && nameControl.value) {
            <button matSuffix type="button" mat-icon-button aria-label="Clear" (click)="nameControl.value=''">
                <mat-icon>close</mat-icon>
            </button>
            }
            @if (form.disabled) {
            <mat-spinner matSuffix diameter="24"></mat-spinner>
            }
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="w50">
            <mat-label>Latitude</mat-label>
            <input matInput formControlName="lat" readonly="readonly">
        </mat-form-field>
        <mat-form-field class="w50">
            <mat-label>Longitude</mat-label>
            <input matInput formControlName="lng" readonly="readonly">
        </mat-form-field>
    </div>
    <div class="text-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.disabled" (click)="storePosition()">Save</button>

        @if (hasLocation()) {
            <a routerLink="/" mat-raised-button>Cancel</a>
        }
    </div>
</form>
