<div *ngFor="let night of night$ | async" class="darkness-row">
    <div *ngFor="let section of night.sections"
            [class.daylight]="section.type === SectionType.DAY"
            [class.twilight]="section.type === SectionType.TWILIGHT"
            [class.nautical-twilight]="section.type === SectionType.NAUTICAL_TWILIGHT"
            [class.astronomical-twilight]="section.type === SectionType.ASTRONOMICAL_TWILIGHT"
            [class.night]="section.type === SectionType.NIGHT"
            [class.moon]="section.type === SectionType.MOON"
            title="{{section.startsAt}} - {{section.endsAt}}"
            [ngStyle]="{'width': (section.totalMinutes / night.totalMinutes * 100) + '%'}">
    </div>
    <div class="info">{{night.startDate.getDate()}}</div>
</div>