<div *ngFor="let night of night$ | async" class="darkness-row">
    <div class="daylight" [ngStyle]="{'width': (night.afterNoonMinutes / 14.4) + '%'}">{{night.startDate.getDate()}}</div>
    <div class="twilight" [ngStyle]="{'width': (night.duskMinutes / 14.4) + '%'}"></div>
    <div class="nautical-twilight" [ngStyle]="{'width': (night.nauticalDuskMinutes / 14.4) + '%'}"></div>
    <div class="astronomical-twilight" [ngStyle]="{'width': (night.astronomicalDuskMinutes / 14.4) + '%'}"></div>
    
    <div class="night" [ngStyle]="{'width': (night.nightBeforeMoonriseMinutes / 14.4) + '%'}"></div>
    <div class="moon" [ngStyle]="{'width': (night.moonMinutes / 14.4) + '%'}"></div>
    <div class="night" [ngStyle]="{'width': (night.nightAfterMoonsetMinutes / 14.4) + '%'}"></div>

    <!-- <div class="night" [ngStyle]="{'width': (night.nightMinutes / 14.4) + '%'}"></div> -->

    <div class="astronomical-twilight" [ngStyle]="{'width': (night.astronomicalDawnMinutes / 14.4) + '%'}"></div>
    <div class="nautical-twilight" [ngStyle]="{'width': (night.nauticalDawnMinutes / 14.4) + '%'}"></div>
    <div class="twilight" [ngStyle]="{'width': (night.dawnMinutes / 14.4) + '%'}"></div>
    <div class="daylight" [ngStyle]="{'width': (night.beforeNoonMinutes / 14.4) + '%'}"></div>
</div>