:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 40px;
  background-color: black;

  font-size: 16px;
  line-height: 18px;

  .icon-texts {
    height: 40%;
    display: flex;
    align-items: center;
  }

  mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }

  .sun {
    color: rgb(233, 198, 0);
  }

  .twilight {
    color: lightblue;
  }

  .nautical {
    color: blue;
  }

  .astronomical {
    color: darkblue;
  }

  .moon {
    color: #666;
  }
}
