:host {
  display: block;
  width: 100%;

  .scroller-viewport {
    visibility: visible;
    &.loading {
      visibility: hidden;
    }
      display: block;
      height: 100%;

      .current {
        filter: brightness(80%);
      }
  }
}
