<div class="shell-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button type="button" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Darkness</span>
    <span class="spacer"></span>
    <span>{{ title() }}</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/diagram" (click)="snav.close()">
          <mat-icon matListItemIcon>nights_stay</mat-icon>
          <span matListItemTitle>Diagram</span>
        </a>
        <a mat-list-item routerLink="/location" (click)="snav.close()">
          <mat-icon matListItemIcon>place</mat-icon>
          <span matListItemTitle>Location</span>
        </a>
        <a mat-list-item routerLink="/info" (click)="snav.close()">
          <mat-icon matListItemIcon>info</mat-icon>
          <span matListItemTitle>About</span>
        </a>
        @if(canInstall()) {
        <a mat-list-item (click)="installApp()">
          <mat-icon matListItemIcon>install_mobile</mat-icon>
          <span matListItemTitle>Install</span>
        </a>
        } @if(canUpdate()) {
        <a mat-list-item (click)="updateApp()">
          <mat-icon matListItemIcon>refresh</mat-icon>
          <span matListItemTitle>Update</span>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
